.button__container{
display: flex;
border-radius: 2px;
width: 100%;
height: 40px;
display: flex;
justify-content: center;
box-shadow: gray;

margin-top: 10px;
border-color: #a88734 #9c7e31 #846a29;

}
.question__container{
  justify-content: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 100px;
  background-color: whitesmoke;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  

}